{% extends 'auth_base.html' %}

{% block title %}Registrasi Akun{% endblock %}

{% block content %}
<h2>REGISTRASI AKUN</h2>

<div class="register-container">
  <div class="register-column">
    <h3>Pegawai</h3>
    <a href="{% url 'putih:register_role' 'front_desk' %}" class="register-button">Front-Desk Officer</a>
    <a href="{% url 'putih:register_role' 'dokter' %}" class="register-button">Dokter Hewan</a>
    <a href="{% url 'putih:register_role' 'perawat' %}" class="register-button">Perawat Hewan</a>
  </div>

  <div class="vertical-line"></div>

  <div class="register-column">
    <h3>Klien</h3>
    <a href="{% url 'putih:register_role' 'klien_individu' %}" class="register-button">Individu</a>
    <a href="{% url 'putih:register_role' 'klien_perusahaan' %}" class="register-button">Perusahaan</a>
  </div>
</div>
{% endblock %}
